# Data Cleaning with Pandas

In this notebook we'll go through a few basic data cleaning steps that should be performed on all new datasets where necessary.

We'll go through the process with both the `orders` and `orderlines` datasets. You can then practice these skills by cleaning the `products` dataset yourself

In [ ]:
import pandas as pd

In [ ]:
# orders.csv
url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orders = pd.read_csv(path)

# orderlines.csv
url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines = pd.read_csv(path)

Before we begin, let's create a copy of the `orders` and `orderlines` DataFrames. This way we are sure any of our changes won't affect the original DataFrames

In [ ]:
orders_df = orders.copy()

orderlines_df = orderlines.copy()

One of the best ways to begin data cleaning is by exploring using `.info()`. This will tell us:
* The shape of the DataFrame
* The names of the columns
* If there are any missing values
* The datatypes of the columns

By exploring the missing values and correcting any incorrect datatypes, we often come across inconsistencies in our data.

Beyond this, we should also have a **check for any duplicate rows**.

Let's first deal with the duplicates, as it's nice and easy, then we'll explore what `.info()` has to tell us.

## 1.&nbsp; Duplicates
We can check for duplicates using the pandas [.duplicated()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html) method.

We can then delete these rows, if we wish, using [.drop_duplicates()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)

In [ ]:
# orders_df
orders_df.duplicated().sum()

0

In [ ]:
# orderlines_df
orderlines_df.duplicated().sum()

0

We have no duplicate rows in either DataFrame. Easy, there is no problem to solve. Normally though, if there were some duplicates, we'd drop the extra rows.

# 2.&nbsp; `.info()`

In [ ]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

* `total_paid` has 5 missing values
* `created_date` should become datetime datatype

In [ ]:
orderlines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

* `date` should be a datetime datatype
* `unit_price` should be a float datatype

## 3.&nbsp; Missing values

### 3.1.&nbsp; Orders
* `total_paid` has 5 missing values

In [ ]:
print(f"5 missing values represents {((orders_df.total_paid.isna().sum() / orders_df.shape[0])*100).round(5)}% of the rows in our DataFrame")

5 missing values represents 0.0022% of the rows in our DataFrame

A quick way to find out a percentage here, if you don't need to print out a sentence for yourself/students/colleagues is `.value_count(normalize=True)`

In [ ]:
orders_df.total_paid.isna().value_counts(normalize=True)

total_paid
False    0.999978
True     0.000022
Name: proportion, dtype: float64

As there is such a tiny amount of missing values, we will simply delete these rows, as we have enough data without them.

In [ ]:
orders_df = orders_df.loc[~orders.total_paid.isna(), :]

In [ ]:
orders_df

        order_id         created_date  total_paid            state
0         241319  2017-01-02 13:35:40       44.99        Cancelled
1         241423  2017-11-06 13:10:02      136.15        Completed
2         242832  2017-12-31 17:40:03       15.76        Completed
3         243330  2017-02-16 10:59:38       84.98        Completed
4         243784  2017-11-24 13:35:19      157.86        Cancelled
...          ...                  ...         ...              ...
226904    527397  2018-03-14 13:56:38       42.99      Place Order
226905    527398  2018-03-14 13:57:25       42.99  Shopping Basket
226906    527399  2018-03-14 13:57:34      141.58  Shopping Basket
226907    527400  2018-03-14 13:57:41       19.98  Shopping Basket
226908    527401  2018-03-14 13:58:36       18.98      Place Order

[226904 rows x 4 columns]

Should you have a significant number of missing values in the future, you have a choice:
+ you can impute the values
+ you can take the values from other DataFrames, if they are present there
+ you can delete the values
+ or any number of other creative solutions

Please, always consider how much time you have on your project, and what impact your method of choice will have on your final assesment.

In [ ]:
orders_df.total_paid.isna().value_counts(normalize=True)

total_paid
False    1.0
Name: proportion, dtype: float64

### 3.2.&nbsp; Orderlines
There are no missing values in `orderlines_df`

## 4.&nbsp; Datatypes

### 4.1.&nbsp; Orders
* `created_date` should become datetime datatype

In [ ]:
orders_df["created_date"] = pd.to_datetime(orders_df["created_date"])

### 4.1.&nbsp; Orderlines
* `date` should be a datetime datatype
* `unit_price` should be a float datatype

#### 4.1.1.&nbsp; `date`

In [ ]:
orderlines_df["date"] = pd.to_datetime(orderlines_df["date"])

In [ ]:
orderlines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 15.7+ MB

#### 4.1.2.&nbsp;`unit_price`

In [ ]:
orderlines_df["unit_price"] = pd.to_numeric(orderlines_df["unit_price"])

ValueError: Unable to parse string "1.137.99" at position 6

As you can see when we try to convert `unit_price` to a numerical datatype, we receive a `ValueError` telling us that pandas doesn't understand the number `1.137.99`. This is probably because numbers cannot have 2 decimal points. Let's see if there are any other numbers like this.

In [ ]:
orderlines_df.unit_price.str.contains("\d+\.\d+\.\d+").value_counts()

Looks like over 36000 rows in `orderlines` are affected by this problem. Let's work out how much that is as a percentage of our total data.

In [ ]:
two_dot_percentage = ((orderlines_df.unit_price.str.contains("\d+\.\d+\.\d+").value_counts()[1] / orderlines_df.shape[0])*100).round(2)
print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame")

This is a bit of a tricky decision as 12.3% is a significant amount of our data... and we might even end up losing a larger portion of our data than this too. For the moment we will delete the rows as we only have 2 weeks for this project and I'd like some quick, accurate results to show. If we have time at the end, we can come back and investigate this problem further, maybe there's a solution?

Each row of `orderlines` represents a product in an order. For example, if order number 175 contained 3 seperate products, then order 175 would have 3 rows in `orderlines`, one row for each of the products. If 2 of those products have 'normal' prices (14.99, 15.85) and 1 has a price with 2 decimal points (1.137.99), we need to remove the whole order and not just the affected row. If we only remove the row with 2 decimal places then any later analysis about products and prices could be misleading.

We therefore need to find the order numbers associated with the rows that have 2 decimal points, and then remove all the associated rows.

In [ ]:
orderlines_df["unit_price"].head(50)

## Remove the first dot of the unit price colum

We still have 216250 rows in orderlines to work with. This should be more than enough for our evaluation.

Now that all of the 2 decimal point prices have been removed, let's try again to convert the column `unit_price` to the correct datatype.

In [ ]:
orderlines_df.info()

In [ ]:
#Separate the corrupted prices
twodot_prices = orderlines_df.loc[orderlines_df['unit_price'].astype(str).str.contains(r"\d+\.\d+\.\d+"), :].copy()

In [ ]:
orderlines_df["unit_price"] = pd.to_numeric(orderlines_df["unit_price"])

It worked perfectly

# Challenge: Clean the `products` DataFrame
Now it's your turn. Use the lessons you learnt above and clean the products DataFrame. You don't have to copy exactly what we did. Think about the consequences of your actions, sometimes it is ok to delete rows, other times you may wish to come up with more creative solutions.

In [ ]:
# products.csv
url = "https://drive.google.com/file/d/1afxwDXfl-7cQ_qLwyDitfcCx3u7WMvkU/view?usp=sharing"
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products_df = pd.read_csv(path)

In [ ]:
# products
# products_df.tail(10)
# products_df.head()
# products_df.describe()
products_df.info()# convert desc, price , promo_price to float
#products_df.duplicated().sum()# Have 8746 duplicates
#products_df.isna().any() #missing data in desc,price,type
#products_df.isna().sum() #missing data in desc(7),price (46),type(50)
#products_df.shape #(19326 sku: stock keeping unit: a unique identifier for each product, 7)
#products_df.value_counts("type")#.nunique()# 71 diferent types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [ ]:
products_df

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59,589.996,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59,569.898,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25,229.997,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1,1364
...,...,...,...,...,...,...,...
19321,BEL0376,Belkin Travel Support Apple Watch Black,compact and portable stand vertically or horiz...,29.99,269.903,1,12282
19322,THU0060,"Enroute Thule 14L Backpack MacBook 13 ""Black",Backpack with capacity of 14 liter compartment...,69.95,649.903,1,1392
19323,THU0061,"Enroute Thule 14L Backpack MacBook 13 ""Blue",Backpack with capacity of 14 liter compartment...,69.95,649.903,1,1392
19324,THU0062,"Enroute Thule 14L Backpack MacBook 13 ""Red",Backpack with capacity of 14 liter compartment...,69.95,649.903,0,1392
19325,THU0063,"Enroute Thule 14L Backpack MacBook 13 ""Green",Backpack with capacity of 14 liter compartment...,69.95,649.903,1,1392

### Look for Duplicates

In [ ]:
products_df.duplicated().sum()# Have 8746 duplicates

In [ ]:
number_of_rows=len(products_df)
number_of_rows

In [ ]:
products_df.shape[0]

In [ ]:
two_dot_percentage = ((products_df.duplicated().sum() / products_df.shape[0])*100).round(2)
print(f"The duplicates problem represents {two_dot_percentage}% of the rows in our DataFrame")

In [ ]:
products_df =products_df.loc[~products_df.duplicated(), :]

In [ ]:
products_df.shape[0]

### Look for Missing values

for desc missing values use trqual to name

In [ ]:
products_df.isna().any() #missing data in desc,price,type
products_df.isna().sum() #missing data in desc(7),price (46),type(50)

In [ ]:
missing_price_df = products_df[products_df['type'].isna()]
missing_price_df
# I will not care about Type, I will not do anything

In [ ]:
missing_price_df = products_df[products_df['price'].isna()]
missing_price_df

In [ ]:
two_dot_percentage = ((products_df['price'].isna().sum() / products_df.price.shape[0])*100).round(2)
print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame we will just delete that data")

In [ ]:
#One strategy to deal with missing values is to simply eliminate them. .dropna() will delete either rows or columns containing missing values.
# Axis: Several Pandas methods contain a parameter called 'axis'. This parameter determines in which direction the function will be applied.
# axis=0 applies along rows
# axis=1 applies along columns
# df.dropna(axis=0)   # to drop rows
# df.dropna(axis=1)   # to drop columns

In [ ]:
products_df

In [ ]:
products_df=products_df.dropna(subset=["price"])

In [ ]:
products_df.isna().sum()

In [ ]:
# # Another method is to fill in missing values. These can be inferred from other values in the row or column, or set to a constant.
# age_mean = df['Age'].mean()
# age_mean
# df['Age'].fillna(age_mean) or df['Age'].fillna(45)

### Check / Change Data types

In [ ]:
products_df.info()# convert desc, price , promo_price to float

In [ ]:
products_df["price"] = pd.to_numeric(products_df["price"])

In [ ]:
products_df.price.str.contains("\d+\.\d+\.\d+").value_counts()

In [ ]:
two_dot_percentage = ((products_df.price.str.contains("\d+\.\d+\.\d+").value_counts()[1] / products_df.price.shape[0])*100).round(2)
print(f"The 2 dot problem represents {two_dot_percentage}% of the rows in our DataFrame")

we can delete the 3.56% represneted

In [ ]:
products_df['price'] = products_df['price'].str.replace(r'(\d+).(\d+).(\d+)', r'\1\2.\3', regex=True)
products_df.tail(50)

In [ ]:
products_df["price"] = pd.to_numeric(products_df["price"])

In [ ]:
products_df

In [ ]:
products_df['price'] = products_df['price'].str.replace(r'(\d+).(\d+).(\d+)', r'\1\2.\3', regex=True)
products_df.tail(50)

In [ ]:
products_df.info()

Frequencies of categories vs prices

In [ ]:
products_df

Deelete the colimns promo_price and in_stock:

In [ ]:
# Dropping columns in place
products_df.drop(["promo_price", "in_stock"], axis=1, inplace=True)

In [ ]:
products_df
products_df.info()

In [ ]:
# products
# products_df.tail(10)
# products_df.head()
# products_df.describe()
# products_df.info()
# products_df.duplicated().sum()
#products_df.isna().any() #missing data in desc,price,type
#products_df.isna().sum() #missing data in desc(7),price (46),type(50)
#products_df.shape #(19326 sku: stock keeping unit: a unique identifier for each product, 7)
#products_df.value_counts("type")#.nunique()# 71 diferent types

In [ ]:
products_df

## Group the data by type

In [ ]:
#products_df.shape #(19326 sku: stock keeping unit: a unique identifier for each product, 7)
#products_df.value_counts("type")#.nunique()# 71 diferent types

In [ ]:
products_df.groupby("type").count()
products_df.groupby("type").size()
products_df.groupby('type')[['price']].mean()
products_df.groupby('type')['price'].agg(['mean', 'median', 'std'])
products_df.groupby('type')['price'].describe()
products_df['sku'].unique()
products_df['sku'].value_counts()
products_df['sku'].str.contains ("REP").sum()
# Step 1: Create a new column with the first three letters of 'sku'
products_df['sku_prefix'] = products_df['sku'].str.slice(0, 3)
# Display the updated DataFrame to check the new column
products_df

# # Step 2: Group by the new column
grouped_df = products_df.groupby('sku_prefix')

# # Aggregating the 'price' column in each group to find the mean
mean_prices = grouped_df['price'].agg(['mean'])
mean_prices

In [ ]:
products_df.groupby("type").size()

In [ ]:
products_df.groupby("type").count().isnull()

In [ ]:
products_df.groupby('type')[['price']].mean()

In [ ]:
products_df.groupby('type')['price'].agg(['mean', 'median', 'std'])

In [ ]:
products_df.groupby('type')['price'].describe()

## Group the data by SKU

In [ ]:
products_df['sku'].unique()

In [ ]:
 products_df['sku'].value_counts()

In [ ]:
products_df['sku'].str.contains ("REP").sum()

In [ ]:

# Step 1: Create a new column with the first three letters of 'sku'
products_df['sku_prefix'] = products_df['sku'].str.slice(0, 3)
# Display the updated DataFrame to check the new column
products_df

# # Step 2: Group by the new column
grouped_df = products_df.groupby('sku_prefix')

# # Aggregating the 'price' column in each group to find the mean
mean_prices = grouped_df['price'].agg(['mean'])
mean_prices